<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STATS</title>
</head>
<body>

<p>На первой картинке изображена <b>миска</b></p>
<p>На второй картинке изображена <b>плошка</b></p>
<p>На третьей картинке изображен(а) <b>салатник/салатница</b></p>
<p>На четвертой картинке изображена <b>пиала</b></p>
<p>На пятой картинке изображена <b>миска</b></p>
<p>На шестой картинке изображена <b>чашка</b></p>
<br>

<p>Всего опрошено мужчин: <b>{{ male }}</b></p>
<p>Всего опрошено женщин: <b>{{ female }}</b></p>

<p>Количество человек, правильно ответивших на все вопросы: <b>{{ kol }}</b> из <b>{{ s }}</b> </p>

</body>
</html>
